body {

	background-color: var(--theme-bgcolor);
	margin: 0;
	width: 100vw; height: 100vh;

	font-family: 'Courier New', monospace;

	display: grid;
	grid-template-columns: auto [sinistra] 160px auto [centro] 650px auto [destra] 160px auto;
	grid-template-rows: 50px [main] auto 50px;

	scrollbar-color: #28292c #141414;
}

body.blur #sidebar, body.blur #editor {
	filter: blur(2px);
}

#sidebar {
	grid-row: main; grid-column: sinistra;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#sidebar > div {
	width: 72px;
	height: 72px;
	border: solid 2px var(--theme-bordercolor);
	margin: 10px;
	border-radius: 2px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	transition: 0.1;
}
#sidebar > div:hover {
	background-color: var(--theme-hovercolor);
}

.icon {
	color: var(--theme-iconcolor);
}

#editor {
	grid-row: main; grid-column: centro;
	border: solid 2px var(--theme-bordercolor);
	border-radius: 4px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	scrollbar-width: thin;
}

.topbound {
	position: sticky;
	top: 0;
}

.title {
	color: var(--theme-titlecolor);
	font-size: 36px;
	overflow-wrap: break-word;
	padding: 18px 14px 12px 20px;
	background-color: var(--theme-bgcolor);
}

.divider {
	height: 20px;
	border-top: solid 1px var(--theme-bordercolor);
	margin: 0 14px;
	background-image: linear-gradient(to bottom,var(--theme-bgcolor),transparent);
}

.body {
	color: var(--theme-bodycolor);
	padding: 0 25px 30px 30px;
	font-size: 20px;
	text-align: justify;
	min-height: calc(100vh - 230px);
	overflow: hidden;
	overflow-wrap: break-word;
}

.title:focus, .body:focus {
	outline: none;
}

.blind {
	background-color: var(--theme-blindcolor);
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 990;

	display: flex;
	justify-content: center;
	align-items: center;

	animation: fadeIn .05s;
}

.dialog {
	min-width: 200px;
	padding: 24px;

	background-color: var(--theme-bgcolor);
	border: solid 2px var(--theme-dialogborder);
	border-radius: 4px;
	color: var(--theme-titlecolor);
	font-size: 24px;
	user-select: none;
	cursor: default;
}
.dialog .buttons {
	display: flex;
	margin: 0 14px;
	justify-content: center;
}
.dialog .buttons > div {
	margin: 24px 12px 0 12px;
	border: solid 1px var(--theme-bordercolor);
	padding: 6px 12px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;
	transition: 0.1s;
}
.dialog .buttons > div:hover {
	background-color: var(--theme-hovercolor);
}

#notifplane {
	position: fixed;
	top: 0; right: 0;
}
.notif {
	margin: 24px 42px 0 0;
	width: 360px;
	padding: 14px 0;

	font-size: 20px;
	color: var(--theme-bodycolor);
	background-color: var(--theme-bgcolor);
	border: solid 2px var(--theme-dialogborder);
	border-radius: 2px;
	text-align: center;
	user-select: none;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: #0000003d 0 4px 10px;
	animation: fadeIn 0.1s;
}
.notif > .icon {
	margin-right: 14px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}