body {

	--theme-bgcolor: black;
	background-color: var(--theme-bgcolor);
	margin: 0;
	width: 100vw; height: 100vh;

	font-family: 'Courier New', monospace;

	display: grid;
	grid-template-columns: auto [sinistra] 160px auto [centro] 650px auto [destra] 160px auto;
	grid-template-rows: 50px [main] auto 50px;
}

body.blur #sidebar, body.blur #editor {
	filter: blur(2px);
}

#sidebar {
	grid-row: main; grid-column: sinistra;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#sidebar > div {
	width: 72px;
	height: 72px;
	border: solid 2px var(--theme-bordercolor);
	margin: 10px;
	border-radius: 2px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	transition: 0.1s;
}
#sidebar > div:hover {
	background-color: var(--theme-hovercolor);
}
#sidebar > div:active {
	background-color: var(--theme-hovercolor);
	box-shadow: inset #0000001c 0 0 8px;
}

.icon {
	color: var(--theme-iconcolor);
}

#editor {
	grid-row: main; grid-column: centro;
	border: solid 2px var(--theme-bordercolor);
	border-radius: 4px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	scrollbar-width: thin;
}

.topbound {
	position: sticky;
	top: 0;
}

.title {
	color: var(--theme-titlecolor);
	font-size: 36px;
	overflow-wrap: break-word;
	padding: 18px 14px 12px 20px;
	background-color: var(--theme-bgcolor);
}

.divider {
	height: 20px;
	border-top: solid 1px var(--theme-bordercolor);
	margin: 0 14px;
	background-image: linear-gradient(to bottom,var(--theme-bgcolor),transparent);
}

.body {
	color: var(--theme-bodycolor);
	padding: 0 25px 30px 30px;
	font-size: 20px;
	text-align: justify;
	min-height: calc(100vh - 230px);
	overflow: hidden;
	overflow-wrap: break-word;
}

.title:focus, .body:focus {
	outline: none;
}

.blind {
	background-color: var(--theme-blindcolor);
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 990;

	display: flex;
	justify-content: center;
	align-items: center;

	animation: fadeIn .12s;
}

.dialog {
	min-width: 200px;
	padding: 24px;

	background-color: var(--theme-bgcolor);
	border: solid 2px var(--theme-dialogborder);
	border-radius: 4px;
	color: var(--theme-titlecolor);
	font-size: 24px;
	user-select: none;
	cursor: default;
}
.dialog .buttons {
	display: flex;
	margin: 0 14px;
	justify-content: center;
}
.dialog .buttons > div {
	margin: 24px 12px 0 12px;
	border: solid 1px var(--theme-bordercolor);
	padding: 6px 12px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;
	transition: 0.1s;
}
.dialog .buttons > div:hover {
	background-color: var(--theme-hovercolor);
}
.dialog .buttons > div:active {
	background-color: var(--theme-hovercolor);
	box-shadow: inset #00000027 0 0 10px;
}

#notifplane {
	position: fixed;
	top: 0; right: 0;
	z-index: 999;
}
.notif {
	margin: 24px 42px 0 0;
	width: 360px;
	padding: 14px 0;

	font-size: 20px;
	color: var(--theme-bodycolor);
	background-color: var(--theme-bgcolor);
	border: solid 2px var(--theme-dialogborder);
	border-radius: 2px;
	text-align: center;
	user-select: none;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: #0000003d 0 4px 10px;
	animation: fadeIn 0.16s;
}
.notif > .icon {
	margin-right: 14px;
}

#settings {
	position: fixed;
	top: 60px; left: 12%;
	right: 12%; bottom: 60px;
	
	border: solid 2px var(--theme-dialogborder);
	overflow: hidden;
	border-radius: 8px;
	font-family: 'Noto Sans', sans-serif;

	display: grid;
	grid-template-columns: [tabs] 240px [main] auto;
	grid-template-rows: auto;
	z-index: 902;
}
#settings_blind { display: none; z-index: 900; }
#settings_blind.visible { display: block; }
#settings_blind .net {
	z-index: 901;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#settings > #tabs {
	grid-column: tabs;
	border-right: solid 2px var(--theme-dialogborder);
	background-color: var(--theme-settingtab);
	padding-top: 4px;
}
#settings > #tabs > div {
	color: var(--theme-bodycolor);
	font-size: 20px;
	width: 200px;
	padding: 20px;
	transition: 0.12s;

	user-select: none;
	cursor: pointer;

	display: flex;
	justify-content: left;
	align-items: center;

	border-top: solid 2px transparent;
	border-bottom: solid 2px transparent;
}
#settings > #tabs > div:hover {
	background-color: var(--theme-settingtabhov);
}
#settings > #tabs > div.sel {
	background-color: var(--theme-bgcolor);
	border-top-color: var(--theme-dialogborder);
	border-bottom-color: var(--theme-dialogborder);
	border-right: solid 2px var(--theme-bgcolor);
}
#settings > #tabs > div .icon {
	margin-right: 16px;
	margin-top: -2px;
	color: var(--theme-bodycolor);
}

#settings > #main {
	grid-column: main;
	background-color: var(--theme-bgcolor);
	padding: 24px 32px;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
}
#settings > #main .settingspage {
	display: none;
	animation: fadeIn 0.05s;
}
#settings > #main h1 {
	margin: 0;
	color: var(--theme-titlecolor);
	padding-bottom: 8px;
	border-bottom: solid 1px var(--theme-dialogborder);
	margin-bottom: 16px;
}
#settings > #main h2 {
	margin: 20px 0 20px 0;
	color: var(--theme-titlecolor);
}

#settings_appearance .gallery {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 30px 0 0 30px;
}
#settings_appearance .gallery > div {
	width: 240px;
	height: 120px;
	margin: 0 14px 24px 14px;

	font-size: 32px;
	text-align: center;
	line-height: 120px;

	cursor: pointer;
	transition: 0.1s;

	background-color: var(--theme-bgcolor);
	border: solid 2px var(--theme-bordercolor);
	border-radius: 4px;
	color: var(--theme-titlecolor);
	font-family: 'Courier New', monospace;
}
#settings_appearance .gallery > div:hover {
	background-color: var(--theme-hovercolor);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}