body {
	background-color: #eee;
	margin: 0;
	width: 100vw; height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Courier New', monospace;
}

#editor {
	width: 600px;
	height: 80vh;
	border: solid 2px #aaa;
	border-radius: 4px;
}

#title {
	color: #666;
	color: #888;
	font-size: 40px;
	margin: 12px;
	padding-bottom: 6px;
	border-bottom: solid 1px #aaa;
}
