
/* Light Theme*/ 

body.theme_Light {
	--theme-bgcolor: #eee;
	--theme-bordercolor: #aaa;
	--theme-hovercolor: #dfdfdf;

	--theme-titlecolor: #888;
	--theme-bodycolor: #666;
	--theme-iconcolor: #888;

	--theme-blindcolor: #00000061;
	--theme-dialogborder: #fff;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;
}

/* Dark Theme */

body.theme_Dark {
	--theme-bgcolor: #191a1b;
	--theme-bordercolor: #454545;
	--theme-hovercolor: #151517;

	--theme-titlecolor: #b9b9b9;
	--theme-bodycolor: #848484;
	--theme-iconcolor: #737373;

	--theme-blindcolor: #00000047;
	--theme-dialogborder: #292a2b;

	--theme-notiferror: #912f4b;
	--theme-notifsuccess: #2e642e;
}

/* Beige Theme */

body.theme_Beige {
	--theme-bgcolor: #f4ecd8;
	--theme-bordercolor: #ccb29b;
	--theme-hovercolor: #ece3cc;

	--theme-titlecolor: #bd936d;
	--theme-bodycolor: #aa947f;
	--theme-iconcolor: #bf956f;

	--theme-blindcolor: #00000061;
	--theme-dialogborder: #e6d8b5;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	scrollbar-color: #bf956f #d5bfa9;
}

/* Mint Theme */

body.theme_Mint {
	--theme-bgcolor: #def4d8;
	--theme-bordercolor: #60bfbf;
	--theme-hovercolor: #dfdfdf;

	--theme-titlecolor: #444;
	--theme-bodycolor: #444;
	--theme-iconcolor: #4faaaa;

	--theme-blindcolor: #00000061;
	--theme-dialogborder: #c0e7d2;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	scrollbar-color: #bf956f #d5bfa9;
}