
/* Light Theme*/ 

body.theme_Light, div[simtheme=light] {
	--theme-bgcolor: #eee;
	--theme-bordercolor: #aaa;
	--theme-hovercolor: #dfdfdf;

	--theme-titlecolor: #888;
	--theme-bodycolor: #666;
	--theme-iconcolor: #888;

	--theme-blindcolor: #07090a85;
	--theme-dialogborder: #d5d5d5;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #c1c1c19e;
	--theme-settingtabborder: #c1c1c19e;
	--theme-settingtabhov: #0000000f;

	scrollbar-color: #d2d2d2 #e5e5e5;
}

/* Dark Theme */

body.theme_Dark, div[simtheme=dark] {
	--theme-bgcolor: #25282a;
	--theme-bordercolor: #474b4f;
	--theme-hovercolor: #212426;

	--theme-titlecolor: #c5ccd9;
	--theme-bodycolor: #c5c5c5;
	--theme-iconcolor: #737373;

	--theme-blindcolor: #00000073;
	--theme-dialogborder: #353739;

	--theme-notiferror: #912f4b;
	--theme-notifsuccess: #2e642e;

	--theme-settingtab: #191b1db3;
	--theme-settingtabborder: #222628;
	--theme-settingtabhov: #ffffff05;

	scrollbar-color: #28292c #141414;
}

/* Beige Theme */

body.theme_Beige, div[simtheme=beige] {
	--theme-bgcolor: #f4ecd8;
	--theme-bordercolor: #ccb29b;
	--theme-hovercolor: #ece3cc;

	--theme-titlecolor: #bd936d;
	--theme-bodycolor: #aa947f;
	--theme-iconcolor: #bf956f;

	--theme-blindcolor: #00000061;
	--theme-dialogborder: #dbc690;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #fff0ca94;
	--theme-settingtabborder: #bba87a;
	--theme-settingtabhov: #ffffff21;

	scrollbar-color: #bf956f #d5bfa9;
}

/* Mint Theme */

body.theme_Mint, div[simtheme=mint] {
	--theme-bgcolor: #def4d8;
	--theme-bordercolor: #60bfbf;
	--theme-hovercolor: #cfecc8;

	--theme-titlecolor: #368c84;
	--theme-bodycolor: #315540;
	--theme-iconcolor: #4faaaa;

	--theme-blindcolor: #00000061;
	--theme-dialogborder: #70b3a3;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #5a877f9e;
	--theme-settingtabborder: #8aa597;
	--theme-settingtabhov: #0000000f;

	scrollbar-color: #4eb0b0 #c0e7d2;
}

/* Mocha Theme */

body.theme_Mocha, div[simtheme=mocha] {
	--theme-bgcolor: #221915;
	--theme-bordercolor: #846951;
	--theme-hovercolor: #191311;

	--theme-titlecolor: #bd936d;
	--theme-bodycolor: #aa947f;
	--theme-iconcolor: #997a5e;

	--theme-blindcolor: #0000004a;
	--theme-dialogborder: #372a24;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #171313e3;
	--theme-settingtabborder: #282222;
	--theme-settingtabhov: #ffb9b905;

	scrollbar-color: #bf956f #d5bfa9;
}