
/* Light Theme*/ 

body.theme_Light, [simtheme=light] {
	--theme-bgcolor: #eee;
	--theme-bordercolor: #aaa;
	--theme-hovercolor: #dfdfdf;

	--theme-titlecolor: #888;
	--theme-bodycolor: #666;
	--theme-iconcolor: #888;

	--theme-blindcolor: #07090a85;
	--theme-dialogborder: #d5d5d5;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #c1c1c19e;
	--theme-settingtabborder: #c1c1c19e;
	--theme-settingtabhov: #0000000f;

	--theme-filecolor: #636262;
	--theme-fileside: #d5d3d3;
	--theme-filebg: #cbcbcb;
	--theme-fileborder: #edeaea;

	scrollbar-color: #d2d2d2 #e5e5e5;
}

/* Dark Theme */

body.theme_Dark, [simtheme=dark] {
	--theme-bgcolor: #25282a;
	--theme-bordercolor: #474b4f;
	--theme-hovercolor: #212426;

	--theme-titlecolor: #c5ccd9;
	--theme-bodycolor: #c5c5c5;
	--theme-iconcolor: #737373;

	--theme-blindcolor: #00000073;
	--theme-dialogborder: #353739;

	--theme-notiferror: #912f4b;
	--theme-notifsuccess: #2e642e;

	--theme-settingtab: #191b1db3;
	--theme-settingtabborder: #222628;
	--theme-settingtabhov: #ffffff05;

	--theme-filecolor: #615e5e;
	--theme-fileside: #191b1d;
	--theme-filebg: #17191b;
	--theme-fileborder: #3a3d41;

	scrollbar-color: #2f3031 #222222;
}

/* Beige Theme */

body.theme_Beige, [simtheme=beige] {
	--theme-bgcolor: #f4ecd8;
	--theme-bordercolor: #ccb29b;
	--theme-hovercolor: #ece3cc;

	--theme-titlecolor: #bd936d;
	--theme-bodycolor: #aa947f;
	--theme-iconcolor: #bf956f;

	--theme-blindcolor: #00000061;
	--theme-dialogborder: #dbc690;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #fff0ca94;
	--theme-settingtabborder: #bba87a;
	--theme-settingtabhov: #ffffff21;

	--theme-filecolor: #fffcf2;
	--theme-filebg: #dccba0;

	scrollbar-color: #bf956f #d5bfa9;

	/* Highlght theme: Atelier Dune Light */
}

/* Mint Theme */

body.theme_Mint, [simtheme=mint] {
	--theme-bgcolor: #def4d8;
	--theme-bordercolor: #60bfbf;
	--theme-hovercolor: #cfecc8;

	--theme-titlecolor: #368c84;
	--theme-bodycolor: #315540;
	--theme-iconcolor: #4faaaa;

	--theme-blindcolor: #00000061;
	--theme-dialogborder: #70b3a3;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #8cbfa985;
	--theme-settingtabborder: #8cbfa985;
	--theme-settingtabhov: #0000000f;

	scrollbar-color: #4eb0b0 #c0e7d2;
}

/* Mocha Theme */

body.theme_Mocha, [simtheme=mocha] {
	--theme-bgcolor: #352720;
	--theme-bordercolor: #846951;
	--theme-hovercolor: #2b1e18;

	--theme-titlecolor: #bd936d;
	--theme-bodycolor: #aa947f;
	--theme-iconcolor: #997a5e;

	--theme-blindcolor: #0000004a;
	--theme-dialogborder: #423129;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #1e140fbd;
	--theme-settingtabborder: #2d2020;
	--theme-settingtabhov: #ffb9b905;

	scrollbar-color: #bf956f #d5bfa9;
}

/* Violet Theme */

body.theme_Lilac, [simtheme=lilac] {
	--theme-bgcolor: #472861;
	--theme-bordercolor: #825183;
	--theme-hovercolor: #3d2155;

	--theme-titlecolor: #e4aaf1;
	--theme-bodycolor: #d1c0e1;
	--theme-iconcolor: #9c589d;

	--theme-blindcolor: #0000004a;
	--theme-dialogborder: #553e6a;

	--theme-notiferror: #f48e8e;
	--theme-notifsuccess: #6abf6a;

	--theme-settingtab: #251428b0;
	--theme-settingtabborder: #442651;
	--theme-settingtabhov: #ffb9b905;

	scrollbar-color: #7f438c #3e2355;
}