#files {

	position: fixed;
	top: 60px; left: 10%;
	right: 10%; bottom: 60px;

	border-radius: 8px;
	font-family: 'Nunito', sans-serif;

	display: grid;
	grid-template-columns: 18vw auto;
	grid-template-rows: auto;
	gap: 10px;
	z-index: 902;

	user-select: none;

	#filenav {
		
		background-color: var(--files-main);
		border: solid 2px var(--files-border);
		border-radius: 8px;
		padding: 12px 20px 20px 20px;

		display: grid;
		grid-template-rows: max-content auto;
		row-gap: 20px;

		h1 {
			margin: 0;
			color: var(--files-title);
			font-size: 42px;
			border-bottom: solid 1px var(--files-border);
			padding-bottom: 4px;
		}

		div {

			color: var(--files-tab);
			border: solid 2px var(--files-border);
			border-radius: 8px;

			display: flex;
			justify-content: center;
			align-items: center;

			cursor: pointer;
			transition: 0.1s;

			.icon {	color: inherit }
			&:hover {
				color: var(--files-tab-hov);
			}
			&:active {
				transform: scale(0.96);
			}

		}

	}

	#filemain {

		background-color: var(--files-main);
		border: solid 2px var(--files-border);
		border-radius: 8px;

	}

}