#settings {

	position: fixed;
	top: 60px; left: 8%;
	right: 8%; bottom: 60px;

	border-radius: 8px;
	font-family: 'Nunito', sans-serif;

	display: grid;
	grid-template-columns: [tabs] 240px [main] auto;
	grid-template-rows: auto;
	z-index: 902;

	#tabs {

		grid-column: tabs;
		background-color: var(--setting-tabs);
		padding-top: 12px;

		border: solid 2px var(--setting-tabs-border);
		border-right: solid 2px var(--dialog-border);
		border-radius: 8px 0 0 8px;

	}

	#tabs > div {

		color: var(--body-color);
		font-size: 20px;
		width: 194px;
		padding: 20px;
		margin-left: -2px;
	
		user-select: none;
		cursor: pointer;
	
		display: flex;
		justify-content: left;
		align-items: center;
	
		border: solid 2px transparent;

		&:hover {
			background-color: var(--setting-tabs-hover);
		}
		&:not(.sel):active {
			background-color: var(--setting-tabs-hover);
			width: 202px;
		}

		&.sel { // Selected Tab
			background-color: var(--bg-color);
			border-color: var(--dialog-border);
			border-right-color: var(--bg-color);
			transform: translateX(-2px);
			width: 198px;
			padding-left: 22px;
		}

		.icon {
			margin-right: 16px;
			margin-top: -2px;
			color: var(--body-color);
		}

	}

	#main {

		grid-column: main;
		user-select: none;
		overflow: hidden;

		background-color: var(--bg-color);
		border: solid 2px var(--dialog-border);
		border-left-width: 0;
		border-radius: 0 8px 8px 0;

		& > div {

			animation: fadeIn 0.2s;
			padding: 0 32px;
			padding-bottom: 40px;
			height: calc(100vh - 160px);

			overflow-x: hidden;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: #1b1c1d #25282a;

		}
		
	}

	h1 {

		margin: 0;
		padding-top: 14px;
		padding-bottom: 12px;

		color: var(--title-color);
		background-color: var(--bg-color);
		font-size: 32px;

	}

	h2 {
		margin: 20px 0 16px 0;
		font-size: 24px;
		color: var(--title-color);
	}

	.divider {
		border-color: var(--dialog-border);
		margin: 0;
		margin-bottom: -20px;
	}

	.xinput, .button {
		margin-left: 44px;
	}

	.themedisplay {

		display: inline-block;
		border: solid 2px var(--border-color);
		border-radius: 14px;
		overflow: hidden;
		width: 200px; height: 180px;
		cursor: pointer;
		background-color: var(--bg-color);
		margin: 10px 0 10px 26px;
		transition: 0.1s;

		.rect {
			stroke: var(--border-color);
			stroke-width: 4px;
			stroke-linecap: round;
			fill: none;
		}
		.circ {
			fill: var(--border-color);
		}
		.label {
			height: 60px;
			border-top: solid 2px var(--dialog-border);
			color: var(--body-color);
			font-family: 'Courier New', monospace;
			font-size: 32px;
			margin: 0 8px;
			padding: 8px 0 0 14px;
		}

		&:active {
			transform: scale(0.96);
		}

	}

	.keycustom {

		margin-left: 52px;
		margin-bottom: 6px;

		h2 {
			color: var(--setting-text-color);
			display: inline-block;
			margin: 0;
			font-size: 24px;
		}
		.keyinput {
			display: inline-block;
			margin-left: 24px;			
			font-size: 24px;
			color: var(--body-color);
			border: solid 2px var(--dialog-border);
			border-radius: 6px;
			min-width: 200px;
			height: 32px;
			padding: 4px 8px;
			text-align: center;
			cursor: text;

			&.edit {
				font-size: 0;
				&::after {
					font-size: 24px;
					content: 'Input keys...';
					opacity: 0.5;
				}
			}

		}

	}

	.loading {
		color: var(--icon-color);
		margin: 24px 32px;
		font-size: 32px;
	}

	#addonshoplist {

		margin-left: 24px;

		& > div:not(.loading) {
			padding: 0 24px;
			border-bottom: solid 1px var(--dialog-border);
		}

		h1 { padding-bottom: 0; }

		.author {
			display: inline-flex;
			align-content: baseline;
			img {
				width: 24px;
				height: 24px;
				border-radius: 100%;
				margin: 0 6px 0 8px;
			}
			font-size: 20px;
			opacity: 0.7;
			margin-left: 14px;
		}
		h2 {
			opacity: 0.7;
			margin: 0;
		}

		.buttons > div {
			display: inline-flex;
			align-items: center;
			padding: 6px 16px;
			font-size: 20px;
			border: solid 2px var(--dialog-border);
			border-radius: 6px;
			margin: 10px 4px;
			margin-bottom: 16px;
			cursor: pointer;
			transition: 0.14s;
			color: var(--icon-color);
			.icon { padding-right: 10px; }
			&:hover {
				background-color: var(--hover-color);
			}
		}

	}

	.devshowcase {
		display: grid;
		grid-template-columns: 184px auto;
		margin: 24px 0 26px 32px;
		img {
			width: 140px; height: 140px;
			border-radius: 100%;
		}
		h1 {
			padding-top: 6px;
			padding-bottom: 0;
		}
		h2 {
			margin: 0;
			opacity: 0.7;
		}
		.links {
			margin-top: 10px;
			.icon {
				cursor: pointer;
				opacity: 0.6;
				transition: 0.1s;
				&:hover { opacity: 1 }
			}
		}
	}

	.dependencies {
		margin: 24px 32px;
		& > a {
			display: inline-flex;
			height: 60px;
			width: 260px;
			padding: 20px;
			border: solid 2px var(--dialog-border);
			border-radius: 10px;
			text-decoration: none;
			margin: 0 7px 14px 7px;
			transition: 0.14s;
			img {
				height: 60px;
				padding-left: 14px;
			}
			span {
				color: var(--body-color);
				font-size: 28px;
				align-self: center;
				margin: 0 auto;
			}
			&:hover {
				background-color: var(--hover-color);
			}
		}

	}

}