/* SCRIVI THEMES */
/* by Ben Uthoff */

[theme='light'] {
    --bg-color: #e5e6e6;
	--border-color: #a5acb3;
	--hover-color: #dadada;
	
	--dialog-border: #ced2d2;
	--blind-color: #0f0f112b;

    --title-color: #686b72;
    --body-color: #6f7376;
	--icon-color: #808c8c;

	--setting-tabs: #b9b9b9b3;
	--setting-tabs-border: #b3b3b3;
	--setting-tabs-hover: #00000005;
	--setting-text-color: #9f9f9f;

	--files-inset: #dadbdc;
	--files-navhov: #9f9f9f;

	--notif-success: #4cc14c;
	--notif-error: #e0698b;
}