/* SCRIVI STYLING */
/* Ben Uthoff */

// sass -w --style=compressed index.scss index.min.css

body {

	--theme-bgcolor: black;
	background-color: var(--theme-bgcolor);
	margin: 0;
	width: 100vw; height: 100vh;

	font-family: 'Courier New', monospace;
	overflow: hidden;

	display: grid;
	grid-template-columns: auto [sinistra] 160px auto [centro] 650px auto [destra] 160px auto;
	grid-template-rows: 50px [main] auto 50px;

	// Used by the User Interface like Dialogs, blurs menus.
	&.ui_blur {
		.sidebar, #editor, #settings, #filesmenu { filter: blur(2px) }
	}

	// Used by menus.
	&.menu_blur {
		.sidebar, #editor { filter: blur(2px) }
	}

	// Wider Centro used by Editor.
	&.wide_editor { grid-template-columns: auto [sinistra] 160px auto [centro] 860px auto [destra] 160px auto }

}



%button {

	display: inline-flex;
	align-items: center;
	padding: 12px 24px;

	font-size: 20px;
	color: var(--theme-settingbody);
	border: solid 2px var(--theme-dialogborder);
	border-radius: 6px;

	cursor: pointer;
	transition: 0.1s;

	.icon { margin: 0 8px 2px -6px }

	&:hover, &:active { background-color: var(--theme-hovercolor)	}
	&:active { border-color: var(--theme-bordercolor) }

}



.topbound { // Sticks this to the top of the editor.
	position: sticky;
	top: 0;
}

.title {

	color: var(--theme-titlecolor);
	font-size: 36px;
	overflow-wrap: break-word;
	padding: 18px 14px 12px 20px;
	background-color: var(--theme-bgcolor);

	&:empty::after {
		content: 'Title';
		color: var(--theme-iconcolor);
		cursor: text;
	}

}

.divider {
	height: 20px;
	border-top: solid 1px var(--theme-bordercolor);
	margin: 0 14px;
	background-image: linear-gradient( to bottom, var(--theme-bgcolor), transparent);
}

.body {
	color: var(--theme-bodycolor);
	padding: 0 25px 30px 30px;
	font-size: 20px;
	text-align: justify;
	min-height: calc(100vh - 230px);
	overflow: hidden;
	overflow-wrap: break-word;

	&:empty::after {
		content: 'Type some text here...';
		color: var(--theme-iconcolor);
		cursor: text;
	}

}

[contenteditable] {	outline: none }



.icon {
	color: var(--theme-iconcolor);
	stroke-width: 1.5px;
}

wtab {
	display: inline-block;
	width: 40px;
	text-align: right;
}

.blind {

	background-color: var(--theme-blindcolor);
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 990;

	display: flex;
	justify-content: center;
	align-items: center;

	animation: fadeIn .1s;

	.visible { display: block }

	.net { // Catches input between the blind and menu.
		z-index: 901;
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}

}

.dialog {

	min-width: 200px;
	max-width: 38vw;
	padding: 32px;

	background-color: var(--theme-bgcolor);
	border: solid 2px var(--theme-dialogborder);
	border-radius: 4px;
	color: var(--theme-titlecolor);
	font-size: 24px;
	text-align: center;

	user-select: none;
	cursor: default;

	.buttons {

		display: flex;
		justify-content: center;
		margin: 24px 0 0 0;

		> div {
			@extend %button;
			margin: 0 8px;
			flex-grow: 1;
			justify-content: center;
		}

	}

}

.checkform {

	display: flex;
	align-items: flex-end;
	width: fit-content;
	margin: 0 0 20px 44px;
	cursor: pointer;

	.box {
		display: inline-block;
		width: 24px; height: 24px;
		border: solid 2px var(--theme-dialogborder);
		border-radius: 4px;
		transition: 0.1s;

		.icon {
			width: 24px; height: 24px; opacity: 0;
			color: var(--theme-bodycolor); transition: 0.1s;
		}

	}

	.label {
		font-size: 20px;
		color: var(--theme-settingbody);
		margin-left: 14px;
	}

	&[value='true'] {
		.box { background-color: var(--theme-settingtab) !important	}
		.icon { opacity: 1 }
	}
	&:active .box { border-color: var(--theme-bordercolor) }

}

.xinput {

	display: flex;
	align-items: center;
	width: fit-content;
	margin: 0 0 14px 44px;

	.label {
		display: inline-block;
		font-size: 20px;
		color: var(--theme-settingbody);
		margin-right: 14px;
	}

	input, select {

		width: 180px;

		background-color: transparent;
		color: var(--theme-bodycolor);
		border: solid 2px var(--theme-dialogborder);
		border-radius: 4px;

		transition: 0.1s;
		font-family: inherit;
		font-size: 16px;

	}

	input {
		padding: 4px 6px;
		&:focus { outline: none; border-color: var(--theme-bordercolor) }
	}

	select {
		padding: 6px 4px;
		&:hover { background-color: var(--theme-hovercolor)	}
		&:active { border-color: var(--theme-bordercolor) }
	}

}


.sidebar {

	grid-row: main;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	> div { // Sidebar Button
		width: 72px;
		height: 72px;
		border: solid 2px var(--theme-bordercolor);
		margin: 10px;
		border-radius: 2px;
	
		display: flex;
		align-items: center;
		justify-content: center;
	
		cursor: pointer;

	}

	:hover, :active {
		background-color: var(--theme-hovercolor);
	}

	&[autohide='true'] {
		opacity: 0;
		transition: 0.15s;
		&:hover { opacity: 1 }
	}

	&#sideleft  { grid-column: sinistra }
	&#sideright {  grid-column: destra  }

}



#filetemps {

	grid-row: main; grid-column: centro;
	border: solid 2px var(--theme-bordercolor);
	border-radius: 4px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	scrollbar-width: thin;

	user-select: none;
	background-color: var(--theme-hovercolor);
	animation: fadeIn 0.1s;

	.title {
		background-color: var(--theme-hovercolor);
		color: var(--theme-bodycolor);
	}

	.divider {
		background-image: linear-gradient(to bottom,var(--theme-hovercolor),transparent);
	}

	.list {
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 24px;
		padding: 0 32px;
	}

	.list > div {
		margin-bottom: 14px;
		padding: 0 0 14px 14px;
		display: flex;
		align-items: center;
	
		border-bottom: solid 1px var(--theme-dialogborder);
		cursor: pointer;
		transition: 0.1s;
		color: var(--theme-iconcolor);

		.label {
			display: inline;
			font-size: 22px;
			color: inherit;
		}

		.icon {
			width: 36px; height: 36px;
			margin-right: 16px;
		}

		&:hover, &:active {
			border-color: var(--theme-bordercolor);
			color: var(--theme-bodycolor);
		}

		&:active { transform: scale(0.99) }

		&:last-child:nth-child(odd) {
			grid-column-start: 1;
			grid-column-end: 3;
		}

	}

}



#editor {

	grid-row: main; grid-column: centro;
	border: solid 2px var(--theme-bordercolor);
	border-radius: 4px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	scrollbar-width: thin;

}

#editor[template=userdata] {

	overflow-x: auto;

	.body {
		padding: 30px;
		white-space: pre;
		tab-size: 4;
		overflow: unset;

		width: max-content;
		min-width: 580px;

		height: unset;
		min-height: calc(100vh - 170px);
		
	}

}



#notifplane {

	position: fixed;
	top: 0; right: 0;
	z-index: 999;
	margin: 24px 42px 0 0;

	.notif {

		min-width: 320px;
		height: 24px;
		margin-bottom: 24px;
		padding: 14px 24px;
	
		font-size: 20px;
		color: var(--theme-bodycolor);
		background-color: var(--theme-bgcolor);
		border: solid 2px var(--theme-dialogborder);
		border-radius: 8px;
		user-select: none;
	
		display: flex;
		justify-content: center;
		align-items: center;
	
		box-shadow: #00000042 0 4px 6px;
		animation: notifPopin 0.3s;

		.icon { margin-right: 14px }

	}

}

@keyframes notifPopin {
	from {
		height: 0;
		padding: 0;
		opacity: 0;
		font-size: 12px;
		margin-bottom: 0;
	}
	to {
		height: 24px;
		opacity: 1;
		padding: 14px 24px;
		margin-bottom: 24px;
	}
}



#settings_blind {
	z-index: 900;
	&:not(.visible) { display: none	}
}
#settings { // Settings Menu

	position: fixed;
	top: 60px; left: 12%;
	right: 12%; bottom: 60px;

	border-radius: 8px;
	font-family: 'Nunito', sans-serif;

	display: grid;
	grid-template-columns: [tabs] 240px [main] auto;
	grid-template-rows: auto;
	z-index: 902;

	#tabs { // Side

		grid-column: tabs;
		background-color: var(--theme-settingtab);
		padding-top: 12px;

		border: solid 2px var(--theme-settingtabborder);
		border-right: solid 2px var(--theme-dialogborder);
		border-radius: 8px 0 0 8px;

		> div { // Tabs

			color: var(--theme-bodycolor);
			font-size: 20px;
			width: 200px;
			padding: 20px;
			margin-left: -2px;
		
			user-select: none;
			cursor: pointer;
		
			display: flex;
			justify-content: left;
			align-items: center;
		
			border: solid 2px transparent;

			&:hover {
				background-color: var(--theme-settingtabhov);
			}
			&:not(.sel):active {
				background-color: var(--theme-settingtabhov);
				width: 202px;
			}

			&.sel { // Selected Tab
				background-color: var(--theme-bgcolor);
				border-color: var(--theme-dialogborder);
				border-right-color: var(--theme-bgcolor);
				transform: translateX(-2px);
				width: 199.5px;
			}

			.icon {
				margin-right: 16px;
				margin-top: -2px;
				color: var(--theme-bodycolor);
			}

		}
		
	}

	#main {

		grid-column: main;
		padding: 14px 32px;
		padding-bottom: 48px;

		user-select: none;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-width: thin;

		background-color: var(--theme-bgcolor);
		border: solid 2px var(--theme-dialogborder);
		border-left-width: 0;
		border-radius: 0 8px 8px 0;
		
	}

	.settingspage {
		display: none;
		animation: fadeIn 0.05s;
	}

	h1 {

		margin: 0;
		padding-bottom: 8px;

		color: var(--theme-titlecolor);
		background-color: var(--theme-bgcolor);
		font-size: 32px;

	}

	.divider {
		border-color: var(--theme-dialogborder);
		margin: 0;
		margin-bottom: -32px;
		height: 32px;
	}

	h2 {
		margin: 20px 0 16px 0;
		font-size: 24px;
		color: var(--theme-titlecolor);
	}

	p {
		font-size: 20px;
		color: var(--theme-settingbody);
		margin: 20px 0 0 30px;
		line-height: 32px;
	}

	a {
		text-decoration: underline;
		color: inherit;
	}

	.button {
		@extend %button;
		margin-left: 44px;
	}

	.themegal {

		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-left: 30px;

		> div {

			width: 200px;
			height: 160px;
			margin: 14px;

			cursor: pointer;
			transition: 0.1s;
			overflow: hidden;
			
			display: grid;
			grid-template-rows: [preview] 120px [main] 40px;
			grid-template-columns: auto;

			border-radius: 8px;
			border: solid 2px var(--theme-bordercolor);
			color: var(--theme-titlecolor);
			font-family: 'Courier New', monospace;

			.label {
				font-size: 24px;
				padding-left: 10px;
				line-height: 40px;
				border-top: solid 1px var(--theme-bordercolor);
			}

			&:hover { background-color: var(--theme-hovercolor) }

		}

		.prev { background-color: var(--theme-bgcolor) }
		.circ { fill: var(--theme-bordercolor) }
		.rect {
			fill: transparent;
			stroke: var(--theme-bordercolor);
			stroke-width: 3;
		}

	}

}


#filesmenu_blind {
	z-index: 900;
	&:not(.visible) { display: none	}
}
#filesmenu {

	position: fixed;
	top: 60px; left: 8%;
	right: 8%; bottom: 60px;
	z-index: 902;
	user-select: none;

	border-radius: 8px;
	font-family: 'Nunito', sans-serif;
	display: grid;
	grid-template-columns: [side] 260px [main] auto;
	gap: 14px;

	#side { // Drive List

		background-color: var(--theme-fileside);
		border-radius: 8px;
		border: solid 2px var(--theme-fileborder);
		cursor: default;

		h1 {
			color: var(--theme-filecolor);
			font-size: 36px;
			margin: 14px;
			margin-bottom: 4px;
			border-bottom: solid 2px var(--theme-fileborder);
			padding: 0 0 8px 8px;
		}

		h2 {

			color:  var(--theme-filecolor);
			margin: 0 24px;
			font-size: 20px;
			border-bottom: solid 1px var(--theme-fileborder);
			padding: 10px 6px;
		
			display: flex;
			align-items: center;
			cursor: pointer;
			transition: 0.1s;

			&:hover { padding-left: 14px }

		}

		.icon {
			color: inherit;
			stroke-width: 2.5;
			height: 20px;
			margin-right: 10px;
		}

	}

	#main {
		background-color: var(--theme-filebg);
		border: solid 2px var(--theme-fileborder);
		border-radius: 8px;
	}

	#pathbar {

		color: var(--theme-iconcolor);
		background-color: var(--theme-hovercolor);
		border: solid 2px var(--theme-fileborder);
		margin: 20px 30px;
		padding: 10px 14px;
		border-radius: 4px;
		font-size: 20px;
		transition: 0.1s;
		
		display: grid;
		grid-template-columns: 36px auto;
		grid-template-rows: 24px;

		> div { margin-top: -1px }
		> [contenteditable] { cursor: text }

		&:focus-within { border-color: var(--theme-bordercolor) }

	}

	#fileview.gallery {

		display: flex;
		margin: 20px 40px;

		.file {

			width: 140px;
			height: 130px;
			margin: 20px 10px;
			padding-top: 30px;
			border-radius: 4px;
		
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		
			cursor: pointer;
			transition: 0.1s;
			border: solid 1px transparent;

			.icon {
				width: 52px; height: 52px;
				margin-bottom: 18px;
			}

			> div {
				display: inline;
				text-align: center;
				color: var(--theme-iconcolor);
				font-size: 20px;
			}

			&:hover { border-color: var(--theme-iconcolor) }

		}

	}

	//#fileview.list {}

	&.saving {
		grid-template-rows: auto min-content;
		#side {
			grid-row-start: 1;
			grid-row-end: 3;
		}
		#saveform { display: grid }
		#dvsel, #fvsel { display: none }
	}

	#saveform {

		display: none;
		background-color: var(--theme-fileside);
		border: solid 2px var(--theme-fileborder);
		border-radius: 8px;
		grid-column: 2; grid-row: 2;
		padding: 24px;

		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		gap: 14px;

		.namein {

			grid-row: 1;
			grid-column-start: 1;
			grid-column-end: 3;

			display: grid;
			grid-template-columns: [input] auto [ext] 52px;
			border: solid 2px var(--theme-dialogborder);
			border-radius: 8px;

		}

		input {
			padding: 12px 24px;
			background-color: transparent;
			border: none; outline: none;
			color: var(--theme-bodycolor);
			font-family: inherit;
			font-size: 20px;
		}

		.ext {
			display: inline-block;
			font-size: 20px;
			color: var(--theme-iconcolor);
			line-height: 48px;
			margin-top: 1px;
		}

		.b {
			@extend %button;
			font-size: 16px;
		}

	}

}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}